<tr id="<%= dom_id order %>">
	<td><%= render :partial => 'contacts/show', :locals => {:contact => order.contact} %></td>
	<td><%= order.start_at.nil? ? "" : l(order.start_at, :format => :smart) %></td>
	<td><%= order.description %></td>
	<td><%= order.place %></td>
	<td><%= link_to_remote "Delete", :url => order, :method => :delete %></td>
</tr>