<% title t('.title') %>
<% form_for @order do |form| %>
	<%= form.error_messages %>
	<p>
		<%= form.label :name %><br />
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :email %><br />
		<%= form.text_field :email %>
	</p>
	<p>
		<%= form.label :phone %><br />
		<%= form.text_field :phone %>
	</p>
	<p>
		<%= form.label :icq %><br />
		<%= form.text_field :icq %>
	</p>
	<p>
		<%= form.label :start_at %><br />
		<%= form.datetime_select :start_at, :start_year => Time.now.year, :default => 1.week.from_now %>
	</p>
	<p>
		<%= form.label :description %><br />
		<%= form.text_area :description %>
	</p>
	<%= form.submit t(:submit) %>
<% end %>