<% div_for album do %>
	<div class="cover">
		<%= link_to photo_image(album.cover, :thumb), album  %>
	</div>
	<div>
		<strong class="title"><%= link_to h(album.title), album %></strong><br />
		<em><%= time_viewer album %></em><br />
		<em><%= t ".photos_count", :count => album.photos.size %></em>
		<div><%=h album.description %></div>
	</div>
	<div class="clear"></div>
<% end %>