<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%=t :default_title %>. <%= yield :title %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag :all %>
  </head>
  <body>
    <div id="index">
			<%= render 'shared/top' %>

			<%= render 'shared/menu' %>

			<%= render :partial => 'shared/show_flash'%>

			<%= content_tag :h1, (yield :title) if yield :title %>

			<%= yield %>

			<%= render 'shared/bottom' %>

			<%= render 'shared/admin_menu' if admin? %>
    </div>
  </body>
</html>